body {
  color: white;
}
.App-title {
  font-weight: 800;
  font-size: 40px;
  font-stretch:expanded;
}

.App-subtitle {
  font-size: 19px;
  color: #E9D4FD;
}

.App-button {
  border: none;
  border-radius: 23px;
  background-color: #946DDA;
  color: white;
  height: 40px;
  width: 150px;
  font-weight: 400;
  outline: none;
}
